@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.model-name {
    animation: fadeInUp 0.5s ease-in-out;
}

.model-name-exit {
    animation: fadeOutDown 0.5s ease-in-out;
}