@keyframes expand-in {
    from {
      right:0;
      width: 0%;
    }
    to {
      right:100%;
      width: 100%;
    }
  }
  
  .expand-bar-in {
    animation: expand-in 0.5s ease-in-out forwards;
  }

  @keyframes expand-out {
    0% {
      left: 0;
      width: 100%;
    }
    100% {
      left: 100%; 
      width: 0;   
    }
  }
  
  .expand-bar-out {
    transform-origin: left;
    animation: expand-out 0.5s ease-in-out forwards;
  }