.drop-down {
    perspective: 1000px;
}

@keyframes border-in {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: white;
    }
}

@keyframes border-out {
    0% {
        border-color: white;
    }
    100% {
        border-color: transparent;
    }
}

.drop-menu-in {
    animation: border-in calc(var(--i) - 400ms) ease-in-out forwards;
}

.drop-menu-out {
    animation: border-out calc(var(--i) - 400ms) ease-in-out forwards;
}

@keyframes menu-in {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes menu-out {
    0% {
        opacity: 1;
        transform: rotateX(0deg);
    }
    100% {
        opacity: 0;
        transform: rotateX(90deg);
    }
}

.drop-menu li.animated {
    animation: menu-in 300ms ease-in-out forwards;
}

.drop-menu li.animated:nth-child(n) {
    animation-delay: calc(100ms * (var(--i) - 1));
}

.drop-menu li.animated-out {
    animation: menu-out 300ms ease-in-out forwards;
}

.drop-menu li.animated-out:nth-child(n) {
    animation-delay: calc(100ms * (var(--total) - var(--i)));
}

@keyframes box-in {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes box-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.range-box-in {
    animation: box-in 400ms ease-in-out forwards;
}

.range-box-out {
    animation: box-out 400ms ease-in-out forwards;
}